version https://git-lfs.github.com/spec/v1
oid sha256:5aa299a241af468654dd5f87d7a7bf309032fa77e3dba07ddf4dd24007760fe6
size 235
*.exe
.thunderstoremm
MonoBleedingEdge/*
UnityPlayer.dll
doorstop_config.ini
doorstop_libs/*
start_game_bepinex.sh
start_server_bepinex.sh
steam_appid.txt
unstripped_corlib/*
valheim_Data/*
*.log
